/app/config/parameters.yml
/build/
/phpunit.xml
src/var/**
var/**
/vendor/
/web/bundles/
/web/css/
/web/fonts/
/web/js/*
/web/img/*
/node_modules/**
.idea/**
.idea/workspace.xml
/.phpintel/*
/bin/symfony_requirements
/app/bootstrap.php.cache
/web/config.php
.idea
Supprimerait var/
