/app/config/parameters.yml
/build/
/phpunit.xml
src/var/*
!src/var/cache
src/var/cache/*
!src/var/cache/.gitkeep
!src/var/logs
src/var/logs/*
!src/var/logs/.gitkeep
!src/var/sessions
src/var/sessions/*
!src/var/sessions/.gitkeep
!src/var/SymfonyRequirements.php
/vendor/
/web/bundles/
/web/css/
/web/fonts/
/web/js/*
/web/img/*
/node_modules/**
.idea/*
/.phpintel/*
