<footer class="page-footer light-green lighten-1">
    <div class="container">
        <div class="row">
            <a class="grey-text text-darken-3" href="#!"><img style="height:40px" src="{{ asset('img/chill_logo.png') }}"></a>
            <span class="grey-text text-darken-3 right">© 2017 SAASPAASBIEN</span>
        </div>
    </div>
</footer>