<header>
    <nav class="nav-extended">
        <div class="nav-wrapper grey lighten-3">
            <div class="container">
                <a href="/" class="brand-logo">
                    <img style="margin: 6px 0px; height: 50px;" src="{{ asset('img/logo.png') }}">
                </a>
                <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons grey-text text-darken-3">menu</i></a>
                <ul id="mobile" class="right hide-on-med-and-down">
                    <li><a href="#" class="grey-text text-darken-3">Inscription</a></li>
                    <li><a href="#" class="grey-text text-darken-3">Connexion</a></li>
                    <li><a class="dropdown-button grey-text text-darken-3" href="#!" data-activates="dropdown-header">Scénarios<i class="material-icons right">arrow_drop_down</i></a></li>
                </ul>
            </div>
        </div>
    </nav>
    <ul id="dropdown-header" class="dropdown-content">
        <li><a class="grey-text text-darken-3" href="{{ path ("app_dashboard") }}">Ajouter</a></li>
        <li><a class="grey-text text-darken-3" href="{{ path ("scenario_history") }}">Historique</a></li>
    </ul>
</header>