{% extends '::base.html.twig' %}
{% block body %}
    <div class="container" style="margin: 50px auto">
        <div class="row">
            <div class="col s12 grey lighten-3">
                <h2>Favoris</h2>
                <table class="responsive-table striped">
                    <thead>
                        <tr>
                            <th>Nom</th>
                            <th>Date de simulation</th>
                            <th>Clients de départ</th>
                            <th>Périodicité</th>
                            <th>Incrément</th>
                            <th>Coût total</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td><a href="#">Scénario n°87238</a></td>
                            <td>01/06/2017</td>
                            <td>15000</td>
                            <td>2 mois</td>
                            <td>5%</td>
                            <td>159675€</td>
                            <td>
                                <a class="btn-floating waves-effect waves-light light-green lighten-1"><i class="material-icons">star</i></a>
                                <a class="btn-floating waves-effect waves-light light-green lighten-1"><i class="material-icons">delete</i></a>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <h2>Historique</h2>
                <table class="responsive-table striped">
                    <thead>
                        <tr>
                            <th>Nom</th>
                            <th>Date de simulation</th>
                            <th>Clients de départ</th>
                            <th>Périodicité</th>
                            <th>Incrément</th>
                            <th>Coût total</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td><a href="#">Scénario n°87238</a></td>
                            <td>01/06/2017</td>
                            <td>15000</td>
                            <td>2 mois</td>
                            <td>5%</td>
                            <td>159675€</td>
                            <td>
                                <a class="btn-floating waves-effect waves-light light-green lighten-1"><i class="material-icons">star</i></a>
                                <a class="btn-floating waves-effect waves-light light-green lighten-1"><i class="material-icons">delete</i></a>
                            </td>
                        </tr>
                        <tr>
                            <td><a href="#">Scénario n°89236</a></td>
                            <td>12/06/2017</td>
                            <td>100000</td>
                            <td>1 mois</td>
                            <td>2%</td>
                            <td>143986€</td>
                            <td>
                                <a class="btn-floating waves-effect waves-light light-green lighten-1"><i class="material-icons">star</i></a>
                                <a class="btn-floating waves-effect waves-light light-green lighten-1"><i class="material-icons">delete</i></a>
                            </td>
                        </tr>
                        <tr>
                            <td><a href="#">Scénario n°92378</a></td>
                            <td>16/07/2017</td>
                            <td>30000</td>
                            <td>3 mois</td>
                            <td>10%</td>
                            <td>136431</td>
                            <td>
                                <a class="btn-floating waves-effect waves-light light-green lighten-1"><i class="material-icons">star</i></a>
                                <a class="btn-floating waves-effect waves-light light-green lighten-1"><i class="material-icons">delete</i></a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}