{% extends '::base.html.twig' %}
{% block body %}
    <div class="section">
        <div class="container page-content grey lighten-3">
            {% block content %}
            {% endblock %}
        </div>
    </div>
{% endblock body %}
