{% extends '::base.html.twig' %}
{% block body %}
    <div class="container" style="margin: 50px auto">
        <div class="row">
            <div class="col s12 grey lighten-3">
                <h2>Résultat</h2>
                <img class="responsive-img" src="https://cdn.discordapp.com/attachments/268738233754451978/314775475392217098/Capture_decran_2017-05-18_a_16.43.37.png">
                faire une timeline trop swag avec les différents changement de conf nécéssaires
            </div>
        </div>
    </div>
{% endblock %}