{% extends '::base.html.twig' %}
{% block body %}
    <div class="container" style="margin: 50px auto">
        <div class="row">
            <div class="col s12 grey lighten-3">
                <h2>Simulateur</h2>
                <form class="col s12">
                    <div class="row">
                        <div class="range-field">
                            <span>Nombre d'utilisateurs</span>
                            <input type="range" id="nb_users" min="0" max="50000" value="5000" />
                        </div>
                        <div class="input-field col m12 s12">
                            <button class="btn waves-effect waves-light right light-green lighten-1" type="submit" name="action">Lancer la simulation</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}