{% extends '@App/layout.html.twig' %}
{% block test %}
    <div class="test">
        <h3 class="yellow-text">COUCOU !!!!! =) c'est le test.html avec une ptite dose de materialize sur ma tronche !</h3>
    </div>
{% endblock %}