<div class="row">
    <div id="chart-container" style="margin: 50px auto; height: 400px;">
    </div>
</div>

<style>
    .c3-region.regionY {
        fill: grey;
    }
</style>

<script src="{{ asset('js/drawChart.js') }}"></script>