<div class="row" style="clear: both">
    <h5>Gestion classique</h5>
    <div id="chart-container-industrial" style="margin: 50px auto; height: 400px;"></div>
</div>
<div class="row">
    <h4>Gestion Green</h4>
    <div id="chart-container-green" style="margin: 50px auto; height: 400px;"></div>
</div>
<div class="row">
    <h4>Evolution du coût d'un client en fonction de l'infrastructure</h4>
    <div id="chart-container-cost" style="margin: 50px auto; height: 400px;"></div>
</div>

<style>
    .c3-region.regionY {
        fill: grey;
    }
</style>

<script src="{{ asset('js/drawChart.js') }}"></script>