<div class="row">
    <div id="chart-container" style="margin: 50px auto; height: 400px;">
    </div>
</div>

{% block javascripts %}
<script src="{{ asset('js/drawChart.js') }}"></script>
{% endblock %}